@model WebBanHangOnline.Models.EF.Posts

@{
    ViewBag.Title = "Thêm mới bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card-header" style=" padding-left: 28px;">
    <h3 class="mb-1 mt-3">@ViewBag.Title</h3>
</div>
<!-- Default box -->

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("Add", "Posts", FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <!-- your steps content here -->
                        <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <div class="form-group form-label mb-3">
                                <label for="exampleInputEmail1">Tiêu đề</label>

                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Tiêu đề" })
                                @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })

                            </div>
                            <div class="form-group form-label mb-3">
                                <label for="exampleInputEmail1">Ảnh đại diện</label>

                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.Image, new { @id = "txtImage", @class = "form-control" })
                                    <div class="input-group-text">
                                        <label style="transform: translateY(6px); font-size: 0.9rem; cursor: pointer" type="button" onclick="BrowseServer('txtImage')">Tải ảnh</label>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-label mb-3">
                                <label for="exampleInputEmail1">Mô tả</label>


                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })

                            </div>
                            <div class="form-group form-label mb-3">
                                <label for="exampleInputEmail1">Chi tiết</label>


                                @Html.TextAreaFor(x => x.Detail, new { @class = "form-control", @id = "txtDetail" })

                            </div>
                            <div class="form-group form-label mb-3">
                                <label for="exampleInputEmail1" style="margin-right: 6px">Hiển thị</label>

                                @Html.CheckBoxFor(x => x.IsActive, new { @class = "form-check-input", @checked = "@checked" })

                            </div>
                            <div class="form-group form-label mb-3">
                                <label for="exampleInputEmail1">Seo title</label>

                                @Html.TextAreaFor(x => x.SeoTitle, new { @class = "form-control" })

                            </div>
                            <div class="form-group form-label mb-3">
                                <label for="exampleInputEmail1">Seo Description</label>

                                @Html.TextAreaFor(x => x.SeoDescription, new { @class = "form-control" })

                            </div>
                            <div class="form-group form-label mb-3">
                                <label for="exampleInputEmail1">Seo Keywords</label>

                                @Html.TextAreaFor(x => x.SeoKeywords, new { @class = "form-control" })

                            </div>
                            <div class="form-group mt-4">
                                <a href="/admin/posts" class="dt-button add-new btn btn-danger">
                                    <span><i class='bx bx-arrow-back me-0 me-sm-1'></i>Quay lại</span>
                                </a>
                                <button type="submit" class="dt-button btn btn-primary ms-2">
                                    <span><i class='bx bx-save me-0 me-sm-1'></i>Lưu</span>
                                </button>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            })
        })

        // Truyền URL image
        function BrowseServer(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }
    </script>
}
