@model PagedList.PagedList<WebBanHangOnline.Models.EF.Posts>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Danh sách bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
            <li class="breadcrumb-item active"><a href="/admin/posts">Bài viết</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div style="display:flex; justify-content: space-between">
                        @using (Html.BeginForm("index", "posts", FormMethod.Get, new { }))
                        {
                            <div class="me-5 ms-n2 pe-5">

                                <label>
                                    <input style="border-radius: 12px; width: 250px;" name="SearchText" type="search" class="form-control" placeholder="Tìm kiếm bài viết" />
                                </label>

                            </div>
                        }


                        <div class="dt-buttons">
                            <a href="/admin/posts/add" class="dt-button add-new btn btn-primary" style=" font-size: 1rem;">
                                <span><i class="bx bx-plus me-0 me-sm-1"></i>Thêm mới</span>
                            </a>
                            <a href="#" class="dt-button btn btn-danger" id="BtnDeleteAll" style=" font-size: 1rem;">
                                <span>Xóa tất cả</span>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="form-check-input" id="SelectAll">
                                    </th>
                                    <th style="text-align: center">#</th>
                                    <th>Hình ảnh</th>
                                    <th>Tiêu đề</th>
                                    <th>Ngày tạo</th>
                                    <th style="text-align: center">Hiển thị</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    var i = ((ViewBag.page - 1) * ViewBag.PageSize) + 1;
                                    foreach (var item in Model)
                                    {
                                        var strCheck = item.IsActive
                                            ? " <i class='fa fa-check fs-4'></i> "
                                            : " <i class='fa fa-close fs-4'></i> ";

                                        <tr id="trow_@item.Id">
                                            <td style="vertical-align: middle;"><input type="checkbox" style=" width: 14px; height: 14px;" class="form-check-input" value="@item.Id" /></td>
                                            <td style="text-align: center">@i</td>
                                            <td><img src="@item.Image" width="50" /></td>
                                            <td style="vertical-align: middle; max-width: 500px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis">@item.Title</td>
                                            <td style="vertical-align: middle;">@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a href='#' data-id="@item.Id" class="btnActive">@Html.Raw(strCheck)</a>
                                            </td>

                                            <td class="" style="">
                                                <div class="d-flex align-items-sm-center justify-content-sm-center">
                                                    <a href="/admin/posts/edit/@item.Id" class="btn btn-sm btn-icon">
                                                        <i class="fa fa-pencil-square-o" style="padding: 5px 20px 0 0; font-size: 18px;"></i>
                                                    </a>

                                                    <a href="#" data-id="@item.Id" class="btn btnDelete btn-sm btn-icon  ">
                                                        <i class="fa fa-trash" style="font-size: 18px; padding-top: 2px"></i>
                                                    </a>

                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                        i++;
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">Không có bản ghi nào</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row" style="width: 100%">
                            <div class="col-md-12" style="display: flex; justify-content: flex-end;">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '#BtnDeleteAll', function (e) {
                e.preventDefault();
                var checkbox = $(this).parents('.card').find('tr td input:checkbox');

                var str = "";
                var i = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i === 0) {
                            str += _id;
                        }
                        else {
                            str += "," + _id;
                        }
                        i++;
                    }
                    else {
                        checkbox.attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    var conf = confirm("Bạn có muốn xóa các bản ghi này không ?");
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/posts/deleteAll',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        })
                    }
                }
            });
            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    }
                    else {
                        checkbox.attr('selected', '');
                    }
                })
            });
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");

                var conf = confirm('Bạn có muốn xóa bản ghi này không?');

                if (conf === true) {
                    $.ajax({
                        url: '/admin/posts/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            })

            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");

                $.ajax({
                    url: '/admin/posts/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check fs-4'></i>");
                            }
                            else {
                                btn.html("<i class='fa fa-close fs-4'></i>");
                            }
                        }

                    }
                });
            })
        })
    </script>
}
