@model WebBanHangOnline.Models.EF.Product

@{
    ViewBag.Title = "Detail";
}

@if (Model != null)
{
    <section class="shop-details">

        <div class="product__details__pic" style="margin-bottom: 0px">
            <div class="row">
                <div class="col-lg-12" style="padding-left: 322px;">
                    <div class="product__details__breadcrumb" style=" text-align: left;">
                        <a href="/">Home</a>
                        <a href="/danh-muc-san-pham/@Model.ProductCategory.Alias-@Model.ProductCategoryID">Shop</a>
                        <span>@Model.Title</span>
                    </div>
                </div>
            </div>
            <div class="Detail-product" style="width: 100%; display: flex; justify-content: center;">
                @if (Model.ProductImage != null && Model.ProductImage.Any())
                {
                    <div class="row">
                        <div class="col-lg-6 col-md-9" style="display: flex; ">
                            <ul class="nav nav-tabs" style=" display: flex; flex-direction: column;" role="tablist">
                                @foreach (var item in Model.ProductImage)
                                {
                                    if (item.IsDefault)
                                    {
                                        <li class="nav-item" style="margin-bottom: 30px">
                                            <a class="nav-link active" data-toggle="tab" href="#@item.Image" role="tab">
                                                <div class="product__thumb__pic set-bg" data-setbg="@item.Image">
                                                </div>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item" style="margin-bottom: 30px">
                                            <a class="nav-link" data-toggle="tab" href="#@item.Image" role="tab">
                                                <div class="product__thumb__pic set-bg" data-setbg="@item.Image">
                                                </div>
                                            </a>
                                        </li>
                                    }

                                }


                            </ul>

                            <div class="tab-content" style=" margin-left: 120px;">

                                @foreach (var item in Model.ProductImage)
                                { }
                                     <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                        <div class="product__details__pic__item">
                                            <img style="width: 600px; height: 420px" src="@Model.ProductImage.FirstOrDefault(x => x.IsDefault).Image" alt="">
                                        </div>
                                    </div>
                                    @*<div class="tab-pane" id="tabs-2" role="tabpanel">
                <div class="product__details__pic__item">
                    <img src="../../content/layout/img/shop-details/product-big-3.png" alt="">
                </div>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
                <div class="product__details__pic__item">
                    <img src="../../content/layout/img/shop-details/product-big.png" alt="">
                </div>
            </div>
            <div class="tab-pane" id="tabs-4" role="tabpanel">
                <div class="product__details__pic__item">
                    <img src="../../content/layout/img/shop-details/product-big-4.png" alt="">
                    <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1" class="video-popup"><i class="fa fa-play"></i></a>
                </div>
            </div>*@
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-3">
                            <div class="product__details__text">
                                <h4>@Model.Title</h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span> - 5 Reviews</span>
                                </div>
                                @if (Model.PriceSale > 0)
                                {
                                    <h3>@WebBanHangOnline.Common.Common.FormatNumber(Model.PriceSale, 0) <span>@WebBanHangOnline.Common.Common.FormatNumber(Model.Price, 0) </span></h3>
                                }
                                else
                                {
                                    <h3>@WebBanHangOnline.Common.Common.FormatNumber(Model.Price, 0)</h3>
                                }


                                <p>
                                    @Model.Description
                                </p>
                 
                 
                                <div class="product__details__cart__option">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input style=" background: #f3f2ee;" type="text" value="1">
                                        </div>
                                    </div>
                                    <a href="#" class="primary-btn">add to cart</a>
                                </div>
                                <div class="product__details__btns__option">
                                    <a href="#"><i class="fa fa-heart"></i> add to wishlist</a>
                                    <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a>
                                </div>
                                <div class="product__details__last__option">
                                    <h5><span style=" background: #f3f2ee;">Guaranteed Safe Checkout</span></h5>
                                    <img src="img/shop-details/details-payment.png" alt="">

                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="product__details__content">s
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__details__tab" style="padding-bottom: 60px;">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                       role="tab">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
                                        Customer
                                        Previews(5)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">
                                        Additional
                                        information
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <p class="note">
                                            Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                            solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                            ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                            pharetras loremos.
                                        </p>
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>
                                                A Pocket PC is a handheld computer, which features many of the same
                                                capabilities as a modern PC. These handy little devices allow
                                                individuals to retrieve and store e-mail messages, create a contact
                                                file, coordinate appointments, surf the internet, exchange text messages
                                                and more. Every product that is labeled as a Pocket PC must be
                                                accompanied with specific software to operate the unit and must feature
                                                a touchscreen and touchpad.
                                            </p>
                                            <p>
                                                As is the case with any new technology product, the cost of a Pocket PC
                                                was substantial during it’s early release. For approximately $700.00,
                                                consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                                These days, customers are finding that prices have become much more
                                                reasonable now that the newness is wearing off. For approximately
                                                $350.00, a new Pocket PC can now be purchased.
                                            </p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>
                                                Polyester is deemed lower quality due to its none natural quality’s. Made
                                                from synthetic materials, not natural like wool. Polyester suits become
                                                creased easily and are known for not being breathable. Polyester suits
                                                tend to have a shine to them compared to wool and cotton suits, this can
                                                make the suit look cheap. The texture of velvet is luxurious and
                                                breathable. Velvet is a great choice for dinner party jacket and can be
                                                worn all year round.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-6" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>
                                                A Pocket PC is a handheld computer, which features many of the same
                                                capabilities as a modern PC. These handy little devices allow
                                                individuals to retrieve and store e-mail messages, create a contact
                                                file, coordinate appointments, surf the internet, exchange text messages
                                                and more. Every product that is labeled as a Pocket PC must be
                                                accompanied with specific software to operate the unit and must feature
                                                a touchscreen and touchpad.
                                            </p>
                                            <p>
                                                As is the case with any new technology product, the cost of a Pocket PC
                                                was substantial during it’s early release. For approximately $700.00,
                                                consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                                These days, customers are finding that prices have become much more
                                                reasonable now that the newness is wearing off. For approximately
                                                $350.00, a new Pocket PC can now be purchased.
                                            </p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>
                                                Polyester is deemed lower quality due to its none natural quality’s. Made
                                                from synthetic materials, not natural like wool. Polyester suits become
                                                creased easily and are known for not being breathable. Polyester suits
                                                tend to have a shine to them compared to wool and cotton suits, this can
                                                make the suit look cheap. The texture of velvet is luxurious and
                                                breathable. Velvet is a great choice for dinner party jacket and can be
                                                worn all year round.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-7" role="tabpanel">
                                    <div class="product__details__tab__content">
                                        <p class="note">
                                            Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                            solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                            ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                            pharetras loremos.
                                        </p>
                                        <div class="product__details__tab__content__item">
                                            <h5>Products Infomation</h5>
                                            <p>
                                                A Pocket PC is a handheld computer, which features many of the same
                                                capabilities as a modern PC. These handy little devices allow
                                                individuals to retrieve and store e-mail messages, create a contact
                                                file, coordinate appointments, surf the internet, exchange text messages
                                                and more. Every product that is labeled as a Pocket PC must be
                                                accompanied with specific software to operate the unit and must feature
                                                a touchscreen and touchpad.
                                            </p>
                                            <p>
                                                As is the case with any new technology product, the cost of a Pocket PC
                                                was substantial during it’s early release. For approximately $700.00,
                                                consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                                These days, customers are finding that prices have become much more
                                                reasonable now that the newness is wearing off. For approximately
                                                $350.00, a new Pocket PC can now be purchased.
                                            </p>
                                        </div>
                                        <div class="product__details__tab__content__item">
                                            <h5>Material used</h5>
                                            <p>
                                                Polyester is deemed lower quality due to its none natural quality’s. Made
                                                from synthetic materials, not natural like wool. Polyester suits become
                                                creased easily and are known for not being breathable. Polyester suits
                                                tend to have a shine to them compared to wool and cotton suits, this can
                                                make the suit look cheap. The texture of velvet is luxurious and
                                                breathable. Velvet is a great choice for dinner party jacket and can be
                                                worn all year round.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->
}
